{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "always",
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": ["*.html"],
      "options": { "printWidth": 120 }
    },
    {
      "files": ["*.md"],
      "options": { "printWidth": 100 }
    }
  ]
}
